.schedule_title {
  background: url(../../images/bg-line.gif);
}

.input {
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.input_text {
  width: 100%;
}

.input_time {
  width: 100px;
}

.schedule_table {
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
}

.schedule_table thead {
  text-align: left;
}

.schedule_table tbody tr {
  border-bottom: 1px solid #ddd;
}

.item_time {
  width: 15%;
}

.item_action {
  text-align: right;
  padding: 0 5px 0 0;
}

.delete_button {
  display: inline-block;
  width: 70px;
  height: 30px;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 4px;
  color: #eee;
  cursor: pointer;
  margin-bottom: 2px;
}

.delete_button:hover {
  opacity: 0.9;
}
