.this_month_button {
  display: inline-block;
  background-color: rgba(0,0,0,0.04);
}

.this_month_button:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
}

.header {
  display: inline-block;
}

.left-arrow:hover {
  cursor: pointer;
  background-color: #ddd;
}

.right-arrow:hover {
  cursor: pointer;
  background-color: #ddd;
}
