.this_month_button {
  display: inline-block;
  background-color: rgba(0,0,0,0.04);
  height: 35px;
  width: 45px;
  text-align: center;
  line-height: 35px;
}

.this_month_button:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
}

.header {
  display: inline-block;
  line-height: 35px;
  vertical-align: middle;
}

.arrow {
  display: inline-block;
  height: 35px;
  width: 45px;
  text-align: center;
  line-height: 35px;
}

.arrow:hover {
  cursor: pointer;
  background-color: #ddd;
}
