body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 60pt;
  color: #eee;
  text-align: right;
  margin: 0px;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  clear: left;
}

.calender_area {
  float: left;
  width: 39%;
}

.schedule_area {
  float: right;
  width: 60%;
  padding: 1px;
}

.button {
  display: inline-block;
  width: 100px;
  color: #eee;
  background-color: rgb(40, 104, 201);
  border-radius: 4px;
  padding: 6px 12px;
  text-decoration: none;
  margin: 2px 0px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.calender_table {
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid;
  border-color: gray;
}

.calender_table thead {
  border: 1px solid;
  border-color: gray;
}

.calender_table th {
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

.calender_table th:nth-child(1) {
  color: #DB1167;
}

.calender_table th:nth-last-child(1) {
  color: #4858EA;
}

.calender_table td {
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  padding: 2px 4px 15px;
  vertical-align: top;
  text-align: right;
}

.calender_table td:nth-child(1) {
  background-color: #FEE0EC;
  color: #DB1167;
}

.calender_table td:nth-child(1):hover {
  background-color: orange;
  color: #FFF;
}

.calender_table td:nth-last-child(1) {
  background-color: #DEE6FE;
  color: #4858EA;
}

.calender_table td:nth-last-child(1):hover {
  background-color: orange;
  color: #FFF;
}
